[Desktop Entry]
Type=Application
Name=Portix
Comment=Multi-platform SSH, SFTP and RDP client
GenericName=SSH Client
Exec=portix %U
Icon=com.github.asepimam.Portix
Terminal=false
Categories=Network;RemoteAccess;System;
Keywords=ssh;sftp;rdp;remote;terminal;server;
StartupNotify=true
StartupWMClass=portix
